body, html {
  margin: 0;
  width: 100%;
  background: black;
  color: white;
  overflow-x: hidden;
  overflow-y: auto;
}

.container{
  display: flex;
  flex-direction: column;
margin-top: 3rem;
}

.titleCards {
  display: flex;
  flex-wrap: wrap;
  gap: 3rem;
  justify-content: space-evenly;
}

@media (min-width: 1020px){
  .container{
    margin:0;
  }
}